<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lhl.monitor.dao.IGroupDao">
    <resultMap id="baseResultMap" type="lhl.monitor.model.Group">
        <result column="GroupName" property="groupName" jdbcType="VARCHAR" />
        <association property="groupResult" javaType="lhl.monitor.model.BaseVo" />
    </resultMap>
    <sql id="base_column">
        groupName,status,description,groupCode
    </sql>
    <select id="getGroups" resultType="lhl.monitor.model.Group" >
        SELECT <include refid="lhl.monitor.model.BaseVo.baseVo_column" />
        ,<include refid="base_column" />
        from eccgroup
    </select>
</mapper>